@font-face {
  font-family: "bebasregular";
  src: url("font_bebas/BEBAS___-webfont.eot");
  src: url("font_bebas/BEBAS___-webfont.eot?#iefix") format("embedded-opentype"),
    url("font_bebas/BEBAS___-webfont.woff") format("woff"),
    url("font_bebas/BEBAS___-webfont.ttf") format("truetype"),
    url("font_bebas/BEBAS___-webfont.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
robotoblack  robotoblack_italic  robotobold  roboto_condensedbold  roboto_condensedbold_italic  robotobold_italic  roboto_condensedregular  roboto_condenseditalic
robotoitalic  robotolight roboto_condensedlight  roboto_condensedlight_italic  robotolight_italic  robotomedium  robotomedium_italic  robotoregular  robotothin  robotothin_italic
*/

@media (max-width: 1920px) {
  html {
    font-size: 19px;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 15px;
  }
}

body {
  margin: 0 auto;
}

.main-bg {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

header {
  margin: 4em auto;
  display: block;
  width: 75%;
  font-family: "bebasregular", Arial, sans-serif;
  color: #d4882c;
  text-align: center;
  text-transform: uppercase;

  min-height: 35vh;
}

section {
  padding: 100px 15px;
}

header p {
  margin-inline-start: 0.25em;
}

H1,
header p {
  display: inline;
  font-size: 1.7em;
  font-weight: 100;
  line-height: 1.4em;
  letter-spacing: 1px;
  word-spacing: 0.1em;
}

/* Section Titles */
H2 {
  color: #fff;
  font-family: "bebasregular", Arial, sans-serif;
  font-size: 3.5em;
  font-weight: 500;
  margin: 0;
  word-spacing: 0.1em;
}

H3 {
  font-size: 1.7em;
  line-height: 1.4em;
  letter-spacing: 1px;
  word-spacing: 0.1em;
  color: #5aa1b7;
  text-align: left;
  font-family: "bebasregular", Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

header H2 {
  margin: 1em 0;
}

header H3 {
  color: #fff;
  font-size: 3.3em;
  line-height: 1em;
  margin-top: 2em;
  word-spacing: 0.2em;
  text-align: center;
}

header H3.amigo-style {
  font-size: 2.5em;
  margin-top: 0;
  color: #ffc47c;
}

H5 {
  /* preguntas faq */
  margin: 0 auto;
  display: table-cell;
  width: 75%;
  font-family: "bebasregular", Arial, sans-serif;
  font-size: 1.7em;
  line-height: 1.4em;
  letter-spacing: 1px;
  word-spacing: 0.1em;
  color: #5aa1b7;
  text-align: left;
  padding: 0.25em 0em 0.25em 0em;
  margin-bottom: 0.25em;
  font-weight: 100;
  text-transform: uppercase;
}

/* NAV BAR */
.nav {
  position: fixed;
  top: 0px;
  margin: 0 auto;
  background: #000;
  height: 90px;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "bebasregular", Arial, sans-serif;
  z-index: 9;
}

.nav_list {
  display: flex;
  flex-flow: row;
  list-style-type: none;
}

.nav_list a {
  color: #fff;
  font-size: 1em;
  word-spacing: 0.2em;
  text-decoration: none;
  margin-right: 1em;
}
.nav_list .active {
  background-color: #1a9ac4;
  padding: 5px 4px 1px;
}

dt {
  font-weight: 600;
  margin-top: 25px;
}
dd {
  margin-inline-start: 10px;
}

.display-flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background: #5f5f5f;
  border: 0px;
  color: #111;
  font-family: "bebasregular", Arial, sans-serif;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0px 20px;
  padding: 0.7em 0.5em 0.5em 0.5em;
  text-align: right;
  text-decoration: none;
  word-spacing: 0.1em;

  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input[type="button"].active,
input[type="submit"].active,
input[type="reset"].active {
  background: #aaa;
  cursor: pointer;
}

input[type="button"].active:hover,
input[type="submit"].active:hover,
input[type="reset"].active:hover {
  background-color: #5aa1b7;
}

#carousel {
  background: #000000e8;
  color: white;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9;
}

.embla {
  position: relative;
  padding: 20px;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  padding-left: 10px;
  min-width: 100%;
  position: relative;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 70vh;
}

.embla--thumb {
  padding-top: 0;
  margin-top: -12px;
}

.embla__container--thumb {
  cursor: default;
  margin-left: -8px;
}

.embla__slide--thumb {
  padding-left: 8px;
  min-width: 20%;
}

.embla__slide__inner--thumb {
  touch-action: manipulation;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100%;
  background-color: transparent;
  position: relative;
  display: block;
  overflow: hidden;
}

.embla__slide__thumbnail {
  opacity: 0.2;
  transition: opacity 0.2s;
}

.embla__slide--thumb.is-selected .embla__slide__thumbnail {
  opacity: 1;
}
